<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns</title>
</head>
<body>

<% articles.forEach( function(article) { %>

<summary>
  
</summary>

<% }); %>


</body>
</html>