<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a href="/articles">home</a></li>
      <li><a href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<ul>

<% articles.forEach( function(article) { %>

  <li>
    <%= article.title %>
    <a href="/article/<%= article.id %>/edit">edit</a>
    <form method="POST" action="/article/<%= article.id %>?_method=delete"><button type="submit">delete</button></form>
    <form method="POST" action="/article/<%= article.id %>/visible?_method=put">
    <% if (article.visible > 0) { %>
      <input type="hidden" name="visible" value="0"><button type="submit">hide</button>
    <% } else { %>
      <input type="hidden" name="visible" value="1"><button type="submit">show</button>
    <% } %>
    </form>

<% }); %>

</ul>

<a href="/articles/new">new article</a>


</body>
</html>