/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/********************************** front page and shared ****************************/
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 140%;
  background-color: white;
  color: #333;
}

header {
  font-style: italic;
  background-color: #333;
  height: 200px;
  position: relative;

  margin-bottom: 40px;
}

header h1 {
  display: inline-block;
  color:white;
  font-size: 70pt;
  position: absolute;
  bottom:-3px;
  right:-8px;
  line-height: 80%;
}

p {
  /*text-indent: 10px;*/
  /*font-weight: 100;*/
  margin-bottom:15px;
  font-size: 16px;
}

a {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
a:visited, a:link {
  color: #3C42A7;
  transition: color .7s;
}
a:hover {
  color: #5EA4FF;
  transition: color .2s;
}

/*section {
  max-width: 500px;
}*/

nav {
  /*background-color: white;*/
  position: absolute;
  bottom: -21px;
  left: 50px;
  font-size: 20px;
}
nav li {
  display: inline-block;
}
.nav_a {
  font-style: normal;
  margin: 10px;
  font-size: 22px;
  color:#333;
  transition: color .2s;
}
/*nav li a {
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: background-color .3s, color .7s;
}*/
.title h2 {
  font-size: 45px;
  line-height:100%;
}
.title h3 {
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
  line-height:100%;
  /*text-align: left;*/
}
summary {
  margin-left:auto;
  margin-right:auto;
}
.content {
  width: 600px;
  max-width: 80%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
img {
  max-width:90%;
}

/********************************* article **************************/

.section_display {
  text-align: left;
  line-height: 180%;
}
.floatclearer {
  clear:both;
}

.seperator {
  max-width: 700px;
  border-top: 1px #666 solid;
  margin: 30px 0px 30px 0px;
}
.title {
  display: inline-block;
  margin-bottom: 30px;
}
.summarytext {
  margin-top: 10px;
}
.readmore {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}
.section_imagePos1 {
  text-align: center;
}
.section_imagePos2 {
  float: left;
  margin: 10px 20px 10px 0px;
}
.section_imagePos3 {
  float: right;
  margin: 10px 0px 10px 20px;
}
.section_preview {
  margin-bottom: 40px;
}
.section_form {
  margin-bottom: 40px;
}
.section_editing .section_preview {
  /*color: red;*/
  display:none;
}
.section_editing .section_form {
  border: 1px solid #AAA;
  padding: 10px 20px 10px 20px;
  /*color: blue;*/
}
.section_previewing .section_preview {
  border: 1px solid #AAA;
  padding: 10px 20px 10px 20px;
  /*color: yellow;*/
  /*display: none;*/
}
.section_previewing .section_form {
  /*color: purple;*/
  display: none;
}
.section_edit_toggle {
  text-align: left;
  position:relative;
  top: 1px;
  left: 0px;
}
.section_edit_toggle li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  border-color: #AAA;
  border-style: solid;
}
.section_previewing .section_edit_button {
  padding: 0px 13px 1px 13px;
  border-width: 1px 1px 1px 1px;
  background: linear-gradient(white, white, #EEE);
}
.section_previewing .section_preview_button {
  padding: 0px 13px 2px 13px;
  border-width: 1px 1px 0px 1px;
  background-color: white;
}
.section_editing .section_edit_button {
  padding: 0px 13px 2px 13px;
  border-width: 1px 1px 0px 1px;
  background-color: white;
}
.section_editing .section_preview_button {
  padding: 0px 13px 1px 13px;
  border-width: 1px 1px 1px 1px;
  background: linear-gradient(white, white, #EEE);
}
.section_edit_toggle li a {
  font-size: 13px;
  /*font-weight: 300;*/
  font-style: normal;
  /*color: #333;*/
  text-decoration: none;
  color: #3C42A7;
  transition: color .7s;
}
.section_edit_toggle li a:hover {
  color: #5EA4FF;
  transition: color .2s;
}

.textarea_section_body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  height: 200px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.image_form_div {
  text-align: left;
  margin: 15px 0px 0px 24px;
}
/*.image_url_div {
  text-align: left;
}*/
.section_form label {
  margin: 5px 5px 5px 5px;
  font-size: 80%;
}
.image_textbox {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  height: 26px;
  width: 82%;
  margin: 20px 5px 5px 5px;
}
.article_summary_editlist {
  text-align: left;
  margin-bottom: 30px;
}
.article_summary_editlist label {
  display:inline-block;
  margin: 5px 15px 10px 30px;
}
.article_summary_editlist input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  height: 26px;
  width: 400px;
  max-width: 80%;
  margin: 10px 10px 10px 10px;
}
.article_summary_editlist textarea {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  height: 100px;
  width: 90%;
  margin: 10px 0px 10px 26px;
}
.button_floatleft, .button_floatright {
  position: relative;
  bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 3px 12px;
  background:white;
}
.button_floatleft {
  float: left;
  margin-left: 40px;
  color: #3C42A7;
  transition: color .7s;
  border: 1px solid #AAA;
}
.button_floatright {
  float: right;
  margin-right: 40px;
  color: #3C42A7;
  transition: color .7s;
  border: 1px solid #AAA;
}
.button_floatleft:hover, .button_floatright:hover {
  color: #5EA4FF;
  transition: color .2s;
  cursor: pointer;
}
.section_add_button {
  font-style: italic;
  font-size:25px;
  color: #3C42A7;
  transition: color .7s;
  background: white;
  border: none;
  margin-bottom: 25px;
}
.section_add_button:hover {
  color: #5EA4FF;
  transition: color .2s;
  cursor: pointer;
}
/*.section_form button {
  display:inline;
  background-color: blue;
  color: red;
}
.form_delete {
  display:inline;
}*/

/****************************** comments ****************************/

#modal_wrapper.overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0,0,0,0.7);
}

#modal_window {
  display: none;
  z-index: 200;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 360px;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#modal_wrapper.overlay #modal_window {
  display:block;
}

#modal_feedback input[type="text"] {
  margin-left: 20px;
}
#modal_feedback textarea {
  width: 80%;
  height: 150px;
}


.comment {
  margin: 20px 5px;
  /*border: 1px solid black;*/
  text-align: left;
  /*display:block;*/
  /*border:1px solid black;*/
}
.comment p {
  margin: 0px 0px 0px 5px;
}
.comment_handle {
  display:inline-block;
  font-style: italic;
  vertical-align: top;
}
.comment_body {
  display: inline-block;
  /*border: 1px solid blue;*/
  max-width: 60%;
}
.comment_edit_buttons {
  display: inline-block;
  /*border: 1px solid yellow;*/
  float: right;
}
.comment_edit_buttons a {
  margin: 0px 1px;
}
.comment .comment {
  margin: 20px 0px 20px 25px;
}
.comment_children_container {
  border-left: 1px solid #CCC;
  margin: 0px 0px 0px 15px;
}



/********************  articles edit ***********************/

.articlelist_list {
  margin-top: 80px;
}
.articlelist_li {
  text-align: left;
  margin: 10px 10px 10px 10px;
}
.articlelist_title {
  background-color: white;
  font-size: 30px;
  line-height: 100%;
  padding: 0px 20px 0px 0px;
}
.articlelist_hiddentitle {
  color: #CCC;
  background-color: white;
  font-size: 30px;
  line-height: 100%;
  padding: 0px 20px 0px 0px;
}
.articlelist_buttons {
  position: relative;
  top: 4px;
  background-color: white;
  padding: 0px 0px 0px 20px;
  font-size: 20px;
  float: right;
}
.articlelist_new {
  font-size: 25px;
  margin: 20px 10px 20px 10px;
  text-align: left;
}
.articlelist_seperator {
  z-index: -1;
  position: relative;
  top: -40px;
  display:inline-block;
  width: 50%;
  border-bottom: 1px #DDD solid;
}
