/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}


body {
  font-family: 'Open Sans', sans-serif;
  line-height: 140%;
  background-color: white;
  color: #333;
}

header {
  font-style: italic;
  background-color: #333;
  height: 200px;
  position: relative;

  margin-bottom: 40px;
}

header h1 {
  display: inline-block;
  color:white;
  font-size: 70pt;
  position: absolute;
  bottom:22px;
  right:-8px;
}

p {
  /*text-indent: 10px;*/
  /*font-weight: 100;*/
  margin-bottom:15px;
  font-size: 16px;
}

a {
  font-style: italic;
  font-weight: bold;
}

/*section {
  max-width: 500px;
}*/

nav {
  /*background-color: white;*/
  position: absolute;
  bottom: 9px;
  left: 50px;
  font-size: 20px;
}
nav li {
  display: inline-block;
}
nav li a {
  border: 4px solid white;
  background-color: #333;
  margin: 0px 10px 0px 10px;
  padding: 5px 15px 5px 15px;
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: background-color .3s, color .7s;
}
nav li a:hover {
  border:7px solid #333;
  padding: 0px 12px 0px 12px;
  background-color: white;
  transition: background-color .3s, color .7s;
  color: #333;
}
.title h2 {
  font-size: 45px;
  line-height:100%;
}
.title h3 {
  font-style: italic;
  line-height:100%;
  text-align: left;
}
summary {
  margin-left:auto;
  margin-right:auto;
}
.content {
  width: 600px;
  max-width: 80%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
img {
  max-width:90%;
}

.section_display {
  text-align: left;
  line-height: 180%;
}
.floatclearer {
  clear:both;
}

.seperator {
  max-width: 700px;
  border-top: 1px #666 solid;
  margin: 30px 0px 30px 0px;
}
.title {
  display: inline-block;
  margin-bottom: 30px;
}
.summarytext {
  margin-top: 10px;
}
.readmore {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}
.section_imagePos1 {
  text-align: center;
}
.section_imagePos2 {
  float: left;
  margin: 10px 20px 10px 0px;
}
.section_imagePos3 {
  float: right;
  margin: 10px 0px 10px 20px;
}
.section_editing .section_preview {
  /*color: red;*/
  display:none;
}
.section_editing .section_form {
  /*color: blue;*/
}
.section_previewing .section_preview {
  border: 4px solid #333;
  padding: 10px 20px 10px 20px;
  /*color: yellow;*/
  /*display: none;*/
}
.section_previewing .section_form {
  /*color: purple;*/
  display: none;
}
.section_edit_toggle {
  text-align: left;
  position:relative;
  top: 4px;
  left: 0px;
}
.section_edit_toggle li {
  display: inline-block;
  background-color: white;
  margin: 0px 10px 0px 10px;
  padding: 2px 5px 4px 5px;
  border-width: 4px 4px 0px 4px;
  border-color: #333;
  border-style: solid;
}
.section_previewing .section_edit_button {

  background-color: beige;
}
.section_edit_toggle li a {
  font-style: normal;
  color: #333;
  text-decoration: none;
}
